<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgiot.dataengine.dataplugin.excel.dao.ExcelMapper">
    <resultMap id="ExcelRangeMap" type="com.zgiot.dataengine.dataplugin.excel.pojo.ExcelRange">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="system" column="system"/>
        <result property="startX" column="start_x"/>
        <result property="startY" column="start_y"/>
        <result property="row" column="row"/>
        <result property="readMode" column="read_mode"/>
        <result property="timeGap" column="time_gap"/>
        <result property="deviceIdGap" column="device_code_gap"/>
        <result property="targetGap" column="target_gap"/>
        <result property="aadGap" column="aad_gap"/>
        <result property="mtGap" column="mt_gap"/>
        <result property="stadGap" column="stad_gap"/>
        <result property="qarGap" column="qar_gap"/>
    </resultMap>

    <resultMap id="CoalAnalysisRecordMap" type="com.zgiot.common.pojo.CoalAnalysisRecord">
        <result property="sample" column="sample"/>
        <result property="aad" column="aad"/>
        <result property="mt" column="mt"/>
        <result property="stad" column="stad"/>
        <result property="qnetar" column="qnetar"/>
        <result property="time" column="time"/>
        <result property="target" column="target"/>
        <result property="avgDensity" column="avg_density"/>
        <result property="avgFlow" column="avg_flow"/>
    </resultMap>

    <select id="getExcelRange" resultMap="ExcelRangeMap">
        SELECT
        id,name,system,start_x,start_y,row,read_mode,time_gap,device_code_gap,target_gap,aad_gap,mt_gap,stad_gap,qar_gap
        FROM excel_range WHERE state=1 order by sequence
    </select>

    <select id="getExistRecord" resultMap="CoalAnalysisRecordMap">
        select sample,target,time,aad,mt,stad,qnetar from tb_coal_analysis where time &lt;= #{endTime} and time &gt;=
        #{startTime}
    </select>
</mapper>